<div class="form-group">
    <div class="input-group">
        <label class="label control-label">Product</label>
        <div class="dropdown">
            <select class="form-control">
                <option value="Shoe">Shoe</option>
                <option value="Glove">Glove</option>
            </select>
        </div>
    </div>
    <div id="divLeftRight">
        <label class="label label-primary">Left/Right</label>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProduct" data-toggle="dropdown" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Left</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Right</a></li>
            </ul>
        </div>
    </div>
    <div class="input-group" id="ShoeInputDiv">
        <div id="divShoeType">
            <label class="label label-primary">Shoe Type</label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProduct" data-toggle="dropdown" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Formal</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Casual</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
