<div class="col-sm-4" ng-controller="LoginCtrl">
    <h3>Log In</h3>
    <div class="validation-summary-errors" ng-show="errorData.isError">
        <span class="glyphicon glyphicon-exclamation-sign">{{errorData.errorMessage}}</span>
    </div>
    <form novalidate>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" required ng-model="loginData.userName" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" ng-model="loginData.password" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="login()"><img src="~/Content/Images/loading.gif" ng-show="isBusyLogginIn==true" />Log In</button>
        </div>
    </form>
</div>
