@model StartApp.Controllers.ItemsController.ItemsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="container" class="container" ng-app="startApp" ng-controller="itemsController">
    <div class="row" ng-repeat="result in dataResult">
            
    </div>
</div>