@using SwapItApi.Resources
<div class="col-sm-4 col-md-12">
    <h3>@Resources.ConfirmEmailSuccessHeader</h3>
    <div>
        @Resources.ConfirmEmailMessage <a ui-sref="Login">Login</a>
    </div>
</div>

