<div class="col-sm-4">
    <h3>Register</h3>
    <form ng-controller="RegisterCtrl">
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" ng-model="RegisterData.email" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" ng-model="RegisterData.password" />
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input class="form-control" type="password" ng-model="RegisterData.confirmPassword" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="register()">Register</button>
        </div>
        <div class="field-validation-error" ng-show="errorData.isError">
            <span class="glyphicon-warning-sign"></span>{{errorData.errorMessage}}
        </div>
    </form>
</div>


