<div class="col-sm-4">
    <h3>Register</h3>
    <form ng-controller="RegisterCtrl">
        <div class="form-group">
            <label class="label">
                First Name
            </label>
            <input class="form-control" ng-requited="true" ng-model="RegisterData.FirstName" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" ng-required="true" ng-model="RegisterData.LastName" />
        </div>
        <div class="form-group">
            <label>Date of birth</label>
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{applicationDate.format}}" ng-model="applicationDate.dt" is-open="opened" min-date="applicationDate.minDate" max-date="applicationDate.maxDate" datepicker-options="applicationDate.dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input class="form-control" ng-required="true" ng-model="RegisterData.Address" />
        </div>
        <div class="form-group">
            <label>House No</label>
            <input class="form-control" ng-required="true" ng-model="RegisterData.HouseNumber" />
        </div>
        <div class="form-group">
            <label>PostCode</label>
            <input class="form-control" ng-required="true" ng-model="RegisterData.PostCode" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" ng-required="true" ng-model="RegisterData.email" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" ng-required="true" ng-model="RegisterData.password" />
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input class="form-control" type="password" ng-required="true" ng-model="RegisterData.confirmPassword" />
        </div>
        
        <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="register()">Register</button>
        </div>
        <div class="field-validation-error" ng-show="errorData.isError">
            <span class="glyphicon-warning-sign"></span>{{errorData.errorMessage}}
        </div>
    </form>
</div>


