<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-control">
            <div class="table">
                <div class="row">
                    <div class="col-lg-6">
                        <span class="control-label">Email</span>
                    </div>
                    <div class="col-lg-6">
                        <input type="email" id="txtEmail" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <span class="control-label">Password</span>
                    </div>
                    <div class="col-lg-6">
                        <input type="password" id="txtPwd" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <span class="control-label">Confirm Password</span>
                    </div>
                    <div class="col-lg-6">
                        <input type="password" id="txtPwd" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


