<div class="form-control">
    <div class="form-group">
        <div class="col-md-12">
            <a class="col-lg-6 btn-default btn-primary">Search</a>
            <a class="col-lg-6 btn-default btn-primary">Donate</a>
            <a class="col-lg-6 btn-default btn-primary">Sell</a>
            <a class="col-lg-6 btn-default btn-primary" ui-sref="Request">Request</a>
        </div>
    </div>
</div>
